.landing-logo {
  background-image: url('../images/logo.jpg');
  width: 475px;
  height: 140px;
  display: block;
  margin: 30px auto;
}
.landing {
  height: 400px;
}
.landing h2 {
  margin-bottom: 50px;
}
.landing .btn {
  margin-top: 20px;
}
.landing .checkbox {
  margin-top: 30px;
}
.landing .divider {
  background-color: #ccc;
  width: 1px;
  height: 100%;
  display: block;
  margin: auto;
}
.landing .landing-or {
  position: absolute;
  font-weight: bold;
  padding: 1em;
  border: 2px solid #ccc;
  top: 45%;
  margin-left: -2em;
  background-color: #fff;
}
