
.landing {
	height: 400px;
}

.landing h2 {
	margin-bottom: 50px;
}

.landing .btn {
	margin-top: 20px;
}

.landing .checkbox {
	margin-top: 30px;
}

.divider {
	background-color: #ccc;
	width: 1px;
	height: 50%;
	display: block;
	margin: auto;
}

.landing-or {
	font-weight: bold;
	padding: 1em;
	border: 2px solid #ccc;
	margin-left: -2em;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60%;
	width: 50%;
}